{
    "jsxSingleQuote": true,
    "singleQuote": true,
    "tabWidth": 4,
    "proseWrap": "always",
    "printWidth": 120,
    "arrowParens": "always",
    "semi": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "quoteProps": "as-needed"
}
